<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý người dùng</title>
</head>
<body>
<div align="center">
    <h1>Quản lý người dùng tại Thư viện truyền cảm hứng (Nội bộ)</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <td><a href="/api/student/search">Tìm kiếm người dùng</a></td>
            <td><a href="/api/student/add">Thêm người dùng</a></td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>
