<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patron Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>
<div th:if="${status}" class="toast" role="status" aria-live="polite" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Thông báo</strong>
        <small>Mới vừa tức thì luôn</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        Cập nhật thành công rồi nha!
    </div>
</div>

<div align="center" class="container">
    <div align="center">
        <img src="/images/lib-logo.jpeg" class="image-fluid">
    </div>
    <form th:action="@{/api/student/student-detail}" method="post">
        <table class="table table-hover table-striped" width="50%">
            <tbody>
            <tr hidden>
                <th>Id</th>
                <th><input type="text" th:value="${student.id}" th:text="${student.id}" hidden
                           th:name="id"/></th>
            </tr>
            <tr>
                <th scope="row">Mã số sinh viên</th>
                <th><input type="text" th:value="${student.studentId}" th:text="${student.getStudentId}" hidden
                           th:name="studentId"/></th>
            </tr>
            <tr>
                <th scope="row">Họ và tên</th>
                <th><input th:text="${student.getFullName}" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Khoa</th>
                <th><input th:text="${student.getFaculty}" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Đối tượng</th>
                <th><input th:text="${student.getStudentType}" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Tình trạng sinh viên</th>
                <th th:if="${student.getGraduated()}"><input th:text="'Đã tốt nghiệp'" hidden/></th>
                <th th:if="${not student.getGraduated()}"><input th:text="'Chưa tốt nghiệp'" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Tập huấn Thư viện</th>
                <th th:if="${student.getTakenLO()}"><input th:text="'Đã tập huấn'" hidden/></th>
                <th th:if="${not student.getTakenLO()}"><input th:text="'Chưa tập huấn'" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Vi phạm nội quy</th>
                <th th:if="${student.getViolated()}"><input th:text="'Vi phạm nội quy'" hidden/></th>
                <th th:if="${not student.getViolated()}"><input th:text="'Không vi phạm nội quy'" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Thời gian bắt đầu</th>
                <th><input th:text="${#dates.format(student.getDateStart, 'yyyy-MM-dd')}" hidden/></th>
            </tr>
            <tr>
                <th scope="row">Thời gian kết thúc</th>
                <th><input th:text="${#dates.format(student.getDateEnd, 'yyyy-MM-dd')}" hidden/></th>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Chỉnh sửa thông tin
        </button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $('.toast').toast({
        animation: true,
        delay: 5000
    })
    $('.toast').toast('show')
</script>

</body>
</html>
