<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patron Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>
<div align="center" class="container">
    <div align="center">
        <img src="/images/lib-logo.jpeg" class="image-fluid">
    </div>
    <h1>Thông tin sinh viên</h1>
    <br/><br/>
    <form th:action="@{/api/student/temp}" th:object="${student}" method="post">
        <table class="table table-hover" width="50%">
            <tr hidden>
                <th>Id</th>
                <th><input type="text" th:value="${student.id}" th:field="*{id}"/></th>
            </tr>
            <tr>
                <th>Mã số sinh viên</th>
                <th><input type="text" th:value="${student.studentId}" th:field="*{studentId}"
                           th:text="${student.studentId}" hidden th:name="studentId"/></th>
            </tr>
            <tr>
                <th>Họ và tên</th>
                <th><input type="text" th:value="${student.fullName}" th:field="*{fullName}"/></th>
            </tr>
            <tr>
                <th>Khoa</th>
                <th><input type="text" th:value="${student.faculty}" th:field="*{faculty}"/></th>
            </tr>
            <tr>
                <th>Đối tượng</th>
                <th><input type="text" th:value="${student.studentType}" th:field="*{studentType}"/></th>
            </tr>
            <tr>
                <th>Tình trạng sinh viên</th>
                <th th:if="${student.graduated}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{graduated}">
                        <option th:value="true" th:text="'Đã tốt nghiệp'" selected></option>
                        <option th:value="false" th:text="'Chưa tốt nghiệp'"></option>
                    </select>
                </th>
                <th th:if="${not student.graduated}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{graduated}">
                        <option th:value="true" th:text="'Đã tốt nghiệp'"></option>
                        <option th:value="false" th:text="'Chưa tốt nghiệp'" selected></option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>Tập huấn Thư viện</th>
                <th th:if="${student.takenLO}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{takenLO}">
                        <option th:value="true" th:text="'Đã tập huấn'" selected></option>
                        <option th:value="false" th:text="'Chưa tập huấn'"></option>
                    </select>
                </th>
                <th th:if="${not student.takenLO}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{takenLO}">
                        <option th:value="true" th:text="'Đã Đã tập huấn'"></option>
                        <option th:value="false" th:text="'Chưa tập huấn'" selected></option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>Vi phạm nội quy</th>
                <th th:if="${student.violated}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{violated}">
                        <option th:value="true" th:text="'Vi phạm nội quy'" selected></option>
                        <option th:value="false" th:text="'Không vi phạm'"></option>
                    </select>
                </th>
                <th th:if="${not student.violated}">
                    <!--                    <input type="text" th:value="${student.graduated}" />-->
                    <select th:field="*{violated}">
                        <option th:value="true" th:text="'Vi phạm nội quy'"></option>
                        <option th:value="false" th:text="'Không vi phạm'" selected></option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>Thời gian bắt đầu</th>
                <th><input type="text" th:value="${#dates.format(student.dateStart, 'yyyy-MM-dd')}"
                           th:field="*{dateStart}"/></th>
            </tr>
            <tr>
                <th>Thời gian kết thúc</th>
                <th><input type="text" th:value="${#dates.format(student.dateEnd, 'yyyy-MM-dd')}"
                           th:field="*{dateEnd}"/></th>
            </tr>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Chỉnh sửa thông tin
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có chắc những thông tin nhập vào là chính xác!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem lại</button>
                        <button type="submit" class="btn btn-primary">Cập nhật dữ liệu</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
