<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patron Manager</title>
</head>
<body>
<div align="center">
    <h1>Student Profile</h1>
    <br/><br/>
    <form th:object="${student}" method="post" th:action="@{/api/student/student-detail1}">
        <table border="1" cellpadding="10">
            <tr>
                <th>Mã số sinh viên</th>
                <th><input th:text="${student.getStudentId}" th:field="*{studentId}" hidden /></th>
            </tr>
            <tr>
                <th>Họ và tên</th>
                <th><input th:text="${student.getFullName}" th:field="*{fullName}" hidden /></th>
            </tr>
            <tr>
                <th>Khoa</th>
                <th><input th:text="${student.getFaculty}" th:field="*{faculty}" hidden /></th>
            </tr>
            <tr>
                <th>Đối tượng</th>
                <th><input th:text="${{student.getStudentType}}" th:field="*{studentType}" hidden /></th>
            </tr>
            <tr>
                <th>Tình trạng sinh viên</th>
                <th><input th:text="${student.getGraduated}" th:field="*{graduated}" hidden /></th>
            </tr>
            <tr>
                <th>Tập huấn Thư viện</th>
                <th><input th:text="${student.getTakenLO}" th:field="*{takenLO}" hidden /></th>
            </tr>
            <tr>
                <th>Vi phạm nội quy</th>
                <th><input th:text="${student.getViolated}" th:field="*{violated}" hidden /></th>
            </tr>
            <tr>
                <th>Thời gian bắt đầu</th>
                <th><input th:text="${student.getDateStart}" th:field="*{dateStart}" hidden /></th>
<!--                <th><input th:value="${#dates.format('2021-02-02', 'yyyy-MM-dd')}" /></th>-->
            </tr>
<!--            <tr>-->
<!--                <th>Thời gian kết thúc</th>-->
<!--                <th><input th:text="${student.getDateEnd}" th:field="*{dateEnd}" hidden/></th>-->
<!--            </tr>-->
        </table>
        <div align="center"><input type="submit" value="Chỉnh sửa thông tin"></div>
    </form>
</div>
</body>
</html>
